<div class="conteiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/products/add" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre del producto" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" class="form-control" name="precio" placeholder="Precio">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" class="form-control" name="cantidad" placeholder="Cantidad">
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea class="form-control" name="descripcion" rows="2" placeholder="Descripcion"></textarea>
                        </div>
                        <br>
                        <h3>Sube tu imagen</h3>
                        <br>
                        <div class="form-group" >
                            <input type="file" name="image" class="input-file">
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-block">
                                    Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>