<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Tus perifericos a la orden</h1>
            <h3 class="mb-5">
                <em>Compra y vende perifericos</em>
            </h3>
            <a href="#" class="btn btn-primary">Empecemos</a>
        </div>
    </header>

</main>